html{
  color: #f2f2f2;
}
body{
  padding: 0.2rem;
  color: #f2f2f2;
}
header{
  border-radius: 0.1rem;
  border: 0.01rem solid #ccc;
  color: #fff;
  height: 1.4rem;
  background-color: pink;
  margin-bottom: 0.2rem;
  .left{
    padding:0.3rem 0rem 0.3rem 0.21rem;
    img{
      height: 0.8rem;
      width: 0.80rem;
      background: blue;
      border-radius: 50%;
    }
    .name{
      line-height: 0.8rem;
      padding-left: 0.1rem;
    }
  }
  .right{
    line-height: 1.4rem;
    padding-right: 0.31rem;
    text-align: right;
  }
}

footer{
  height: 9.77rem;
  border: 0.01rem solid #ccc;
  border-radius: 0.1rem;
  .head{
    backgrgound: #000;
    .top{
      font-size: .28rem;
      line-height: 0.61rem;
      padding-left: 0.21rem;
      margin: 0rem 0.11rem 0rem;
      border-bottom: 0.01rem solid #ccc;
    }
    .bottem{
      overflow: hidden;
      line-height: .66rem;
      padding-left: 0.21rem;
      padding-right: 0.21rem;
      .left{
        font-size: .28rem;
        overflow: hidden;
        width: 60%;
        .dizhi{
          display: inline-block;
          margin-right:0.2rem;
          margin-top: 0.2rem;
          width: 0.18rem;
          height: 0.23rem;
          background: url("../../../public/h5/images/dd@2x.png") no-repeat;
          background-size: 0.18rem 0.23rem;
        }
      }
      .payment{
        width: 30%;
        text-align: right;
        color: red;
      }
    }
    .foter{
      line-height: .64rem;
      font-size: .28rem;
      padding-left: .21rem;
      .duigou{
        display: inline-block;
        margin-right:0.2rem;
        margin-top: 0.2rem;
        width: 0.18rem;
        height: 0.23rem;
        background: url("../../../public/H5/images/wc@2x.png") no-repeat;
        background-size: 0.18rem 0.23rem;
      }
    }
  }
  //�����������ּ�ͼƬ
  .content{
    .top{
      line-height: .43rem;
      background: yellow;
      padding: 0.1rem 0.19rem;
    }
    .bot{
      padding: 0rem 0.1rem;
    }
  }
//  ����������һЩ
  .limit{
    padding-left: 0.21rem;
    padding-right: 0.21rem;
    .title{
      font-size: 0.34rem;
      line-height: .8rem;
    }
    .content,.bottem{
      font-size: .28rem;
      line-height: .6rem;
    }
  }
}